UserInterfaceState.xcuserstate
ios test/ios test.xcodeproj/project.xcworkspace/xcuserdata/yuzu.xcuserdatad/UserInterfaceState.xcuserstate
ios test/ios test.xcodeproj/xcuserdata/yuzu.xcuserdatad/xcschemes/xcschememanagement.plist
__debug_bin
go.mod
go.sum
launch.json
xcschememanagement.plist
